<section id="about_Us">
  <div class="container about">
    <h2 class="about-title">About Us</h2>
    <p class="about-text">
      Raccoon Market: Farm Fest is a delightful farming game where players grow
      crops, manage their farms, and trade with other players in a vibrant
      community. With cute raccoon characters, customizable farms, and seasonal
      events, Raccoon Market offers a fun and social farming experience that’s
      perfect for players of all ages.
    </p>
  </div>
</section>
