<section>
  <div class="container">
    <h2 class="advantages-titel">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <div class="advantages-text-container">
          <p class="advantages-text">Farm and Trade Gameplay</p>
          <p class="advantages-subtext">
            Manage your own farm, grow crops, and trade goods with other
            players.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-text-container">
          <p class="advantages-text">Charming Characters</p>
          <p class="advantages-subtext">
            Meet a cast of adorable raccoons and animal friends.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-text-container">
          <p class="advantages-text">Customizable Farm</p>
          <p class="advantages-subtext">
            Design and decorate your farm to make it unique.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-text-container">
          <p class="advantages-text">Daily Rewards</p>
          <p class="advantages-subtext">
            Earn rewards by logging in daily and completing tasks.
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-text-container">
          <p class="advantages-text">Seasonal Events</p>
          <p class="advantages-subtext">
            Participate in seasonal events and special quests for extra rewards.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
