<section>
  <div class="container">
    <h2 class="benefits-item">Benefits</h2>
    <div class="benefits-img">
      <ul class="benefits-list">
        <li>
          <div class="benefits-text-container">
            <h3 class="benefits-text">Offline Mode:</h3>
            <p class="benefits-subtext">
              Keep playing and growing your farm without needing an internet
              connection.
            </p>
          </div>
        </li>
        <li>
          <div class="benefits-text-container">
            <h3 class="benefits-text">Relaxing Gameplay:</h3>
            <p class="benefits-subtext">
              Perfect for unwinding with enjoyable and low-stress farming
              activities.
            </p>
          </div>
        </li>
        <li>
          <div class="benefits-text-container">
            <h3 class="benefits-text">Social Features:</h3>
            <p class="benefits-subtext">
              Connect with friends, trade, and help each other grow farms.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
