<section class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper">
      <ul class="swiper-wrapper gallery">
        <li class="swiper-slide">
          <img src="../img/gallery/slide1.png" alt />
        </li>
        <li class="swiper-slide">
          <img src="../img/gallery/slide2.png" alt />
        </li>
        <li class="swiper-slide">
          <img src="../img/gallery/slide3.png" alt />
        </li>
        <li class="swiper-slide">
          <img src="../img/gallery/slide4.png" alt />
        </li>
        <li class="swiper-slide">
          <img src="../img/gallery/slide5.png" alt />
        </li>
        <li class="swiper-slide">
          <img src="../img/gallery/slide6.png" alt />
        </li>
      </ul>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
