<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper">
      <div class="gallery-wrapper swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide-1-@2x.png 2x,
                ./img/gallery/slide-1.png     1x
              " />
            <img
              src="./img/gallery/slide-1.png"
              alt="Game screenshot showing two NPCs, a scene, and game menu buttons"
          /></picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/slide-2-@2x.png 2x,
                ./img/gallery/slide-2.png     1x
              "
            />
            <img
              src="./img/gallery/slide-2.png"
              alt="Game screenshot showing your character and a joystick shaped like their paw for controls"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/gallery/slide-3-@2x.png 2x,
                ./img/gallery/slide-3.png     1x
              "
            />
            <img
              src="./img/gallery/slide-3.png"
              alt="Game screenshot showing your character carrying two pumpkins stacked on top of each other"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/gallery/slide-4-@2x.png 2x,
                ./img/gallery/slide-4.png     1x
              "
            />
            <img
              src="./img/gallery/slide-4.png"
              alt="Game screenshot showing a stone bridge over a river dividing a forest and a meadow"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/gallery/slide-5-@2x.png 2x,
                ./img/gallery/slide-5.png     1x
              "
            />
            <img
              src="./img/gallery/slide-5.png"
              alt="Game screenshot showing your character selling pumpkins in a shop, with another player's character present"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture
            ><source
              srcset="
                ./img/gallery/slide-6-@2x.png 2x,
                ./img/gallery/slide-6.png     1x
              "
            />
            <img
              src="./img/gallery/slide-6.png"
              alt="Game screenshot showing your character in the middle of a fair with a stage, NPCs, and stalls with goods, along with a joystick for controls"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination-gallery"></div>
    </div>
    <div class="gallery-custom-prev">
      <picture
        ><source
          srcset="
            ./img/gallery/right-arrow-@2x.png 2x,
            ./img/gallery/right-arrow.png     1x
          " />
        <img src="./img/gallery/right-arrow.png" alt="previous arrow"
      /></picture>
    </div>
    <div class="gallery-custom-next">
      <picture
        ><source
          srcset="
            ./img/gallery/right-arrow-@2x.png 2x,
            ./img/gallery/right-arrow.png     1x
          " />
        <img src="./img/gallery/right-arrow.png" alt="next arrow"
      /></picture>
    </div>
  </div>
</section>
