<section class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper">
      <div class="gallery-wrapper swiper-wrapper">
        <div class="swiper-slide">
          <div class="box-image">
            <img src="./img/gallery/slide-1.png" alt />
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/slide-2.png" alt />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/slide-3.png" alt />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/slide-4.png" alt />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/slide-5.png" alt />
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery/slide-6.png" alt />
        </div>
      </div>
      <div class="swiper-pagination-gallery"></div>
    </div>
    <div class="gallery-custom-prev">
      <img src="./img/gallery/right-arrow.png" alt="previous arrow" />
    </div>
    <div class="gallery-custom-next">
      <img src="./img/gallery/right-arrow.png" alt="next arrow" />
    </div>
  </div>
</section>
