<header class="header">
  <div class="header-navigation">
    <div class="header-menu">
      <ul class="header-list">
        <li class="header-list-item">
          <a href="./index.html" class="header-list-link">Home</a>
        </li>
        <li class="header-list-item">
          <a href="/Raccoon-market-project/#advantages" class="header-list-link"
            >Advantages</a
          >
        </li>
        <li class="header-list-item">
          <a href="/Raccoon-market-project/#benefits" class="header-list-link"
            >Benefits</a
          >
        </li>
        <li class="header-list-item">
          <a href="/Raccoon-market-project/#reviews" class="header-list-link"
            >Reviews</a
          >
        </li>
        <li class="header-list-item">
          <a href="/Raccoon-market-project/#about_Us" class="header-list-link"
            >About Us</a
          >
        </li>
        <li class="header-list-item">
          <a href="/Raccoon-market-project/#gallery" class="header-list-link"
            >Gallery</a
          >
        </li>
      </ul>
    </div>
    <button type="button" class="open-menu">
      <svg class="burger">
        <use href="./img/sprite.svg#burger-icon"></use>
      </svg>
    </button>
    <div class="header-logo">
      <a href="./index.html" class="header-logo" aria-label="Home Page">
        <img
          class="header-logo-img"
          src="./img/logo-header.png"
          alt="header-logo"
        />
      </a>
    </div>
  </div>
  <div class="backdrop" id="backdrop"></div>
</header>
