<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <div class="header-menu">
        <ul class="header-list">
          <li class="header-list-item">
            <a href="./index.html" class="header-list-link">Home</a>
          </li>
          <li class="header-list-item">
            <a
              href="/Raccoon-market-project/#advantages"
              class="header-list-link"
              >Advantages</a
            >
          </li>
          <li class="header-list-item">
            <a href="/Raccoon-market-project/#benefits" class="header-list-link"
              >Benefits</a
            >
          </li>
          <li class="header-list-item">
            <a href="/Raccoon-market-project/#reviews" class="header-list-link"
              >Reviews</a
            >
          </li>
          <li class="header-list-item">
            <a href="/Raccoon-market-project/#about_Us" class="header-list-link"
              >About Us</a
            >
          </li>
          <li class="header-list-item">
            <a href="/Raccoon-market-project/#gallery" class="header-list-link"
              >Gallery</a
            >
          </li>
        </ul>
      </div>
      <button type="button" class="open-menu" aria-expanded="false">
        <svg class="burger">
          <use href="./img/sprite.svg#burger-icon"></use>
        </svg>
      </button>
      <div class="header-logo">
        <a href="./index.html" class="header-logo" aria-label="Home Page">
          <picture class="header-logo-img">
            <source
              srcset="
                ./img/header/headerMob.png   1x,
                ./img/header/headerMob2x.png 2x
              "
              media="(min-width: 320px) and (max-width: 1200px)"
              loading="lazy"
            />
            <img
              src="./img/header/header.png"
              srcset="./img/header/header2x.png 2x"
              alt="header-logo"
              loading="lazy"
            />
          </picture>
        </a>
      </div>
    </nav>
  </div>

  <div class="backdrop" id="backdrop"></div>
</header>
