<section id="reviews">
  <div class="container review-container">
    <h2 class="review-title">Reviews</h2>
    <div class="review-swiper">
      <div class="swiper-wrapper review-wrapper">
        <div class="swiper-slide">
          <div class="review-img-box">
            <picture
              ><source
                srcset="
                  ./img/reviews/Farm-Lover99-@2x.png 2x,
                  ./img/reviews/Farm-Lover99.png     1x
                " />
              <img
                src="./img/reviews/Farm-Lover99.png"
                alt="Picture of woman with username 'Farm Lover99'"
                width="80"
            /></picture>
          </div>
          <div class="review-text-box">
            <h2 class="review-username">Farm Lover99</h2>
            <p class="review-text">
              "Absolutely adorable! Love the raccoons and the whole trading
              system."
            </p>
          </div>
        </div>
        <div class="swiper-slide spec-slide">
          <div class="review-img-box">
            <picture
              ><source
                srcset="
                  ./img/reviews/Green-Thumb-@2x.png 2x,
                  ./img/reviews/Green-Thumb.png     1x
                " />
              <img
                src="./img/reviews/Green-Thumb.png"
                alt="Picture of woman with username 'Green Thumb'"
                width="80"
            /></picture>
          </div>
          <div class="review-text-box">
            <h2 class="review-username">Green Thumb</h2>
            <p class="review-text">
              "Such a relaxing game, and the farm customization options are
              fantastic!"
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review-img-box">
            <picture
              ><source
                srcset="
                  ./img/reviews/Trade-Master-@2x.png 2x,
                  ./img/reviews/Trade-Master.png     1x
                " />
              <img
                src="./img/reviews/Trade-Master.png"
                alt="Picture of woman with username 'Trade Master'"
                width="80"
            /></picture>
          </div>
          <div class="review-text-box">
            <h2 class="review-username">Trade Master</h2>
            <p class="review-text">
              "A great blend of farming and trading. Really enjoying the
              seasonal events!"
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review-img-box">
            <picture
              ><source
                srcset="
                  ./img/reviews/Raccoon-Fan-@2x.png 2x,
                  ./img/reviews/Raccoon-Fan.png     1x
                " />
              <img
                src="./img/reviews/Raccoon-Fan.png"
                alt="Picture of woman with username 'Raccoon Fan'"
                width="80"
            /></picture>
          </div>
          <div class="review-text-box">
            <h2 class="review-username">Raccoon Fan</h2>
            <p class="review-text">
              "Charming characters and fun gameplay make this game addictive!"
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review-img-box">
            <picture
              ><source
                srcset="
                  ./img/reviews/Market-Crafter-@2x.png 2x,
                  ./img/reviews/Market-Crafter.png     1x
                " />
              <img
                src="./img/reviews/Market-Crafter.png"
                alt="Picture of woman with username 'Market Crafter'"
                width="80"
            /></picture>
          </div>
          <div class="review-text-box">
            <h2 class="review-username">Market Crafter</h2>
            <p class="review-text">
              "It’s like a mini farming community! Love connecting with other
              players."
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination review-pagination"></div>
    </div>
    <div class="swiper-button-prev review-custom-prev">
      <svg class="review-prev-btn" width="16" height="16">
        <use href="./img/sprite.svg#left-arrow"></use>
      </svg>
    </div>
    <div class="swiper-button-next review-custom-next">
      <svg class="review-next-btn" width="16" height="16">
        <use href="./img/sprite.svg#right-arrow"></use>
      </svg>
    </div>
  </div>
</section>
