<section>
  <div class="container review">
    <h2 class="review-title">Reviews</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <figure class="review-item">
            <img
              src="../img/Trade-Master.png"
              alt="Picture of woman with username 'Trade Master'"
              width="80"
            />
            <div class="review-text-box">
              <h2 class="review-username">Trade Master</h2>
              <p class="review-text">
                "A great blend of farming and trading. Really enjoying the
                seasonal events!"
              </p>
            </div>
          </figure>
        </li>
        <li class="swiper-slide">
          <figure class="review-item">
            <img
              src="../img/Market-Crafter.png"
              alt="Picture of woman with username 'Market Crafter'"
              width="80"
            />
            <div class="review-text-box">
              <h2 class="review-username">Market Crafter</h2>
              <p class="review-text">
                "It’s like a mini farming community! Love connecting with other
                players."
              </p>
            </div>
          </figure>
        </li>
        <li class="swiper-slide">
          <figure class="review-item">
            <img
              src="../img/Green-Thumb.png"
              alt="Picture of woman with username 'Green Thumb'"
              width="80"
            />
            <div class="review-text-box">
              <h2 class="review-username">Green Thumb</h2>
              <p class="review-text">
                "Such a relaxing game, and the farm customization options are
                fantastic!"
              </p>
            </div>
          </figure>
        </li>
        <li class="swiper-slide">
          <figure class="review-item">
            <img
              src="../img/Raccoon-Fan.png"
              alt="Picture of woman with username 'Raccoon Fan'"
              width="80"
            />
            <div class="review-text-box">
              <h2 class="review-username">Raccoon Fan</h2>
              <p class="review-text">
                "Charming characters and fun gameplay make this game addictive!"
              </p>
            </div>
          </figure>
        </li>
        <li class="swiper-slide">
          <figure class="review-item">
            <img
              src="../img/Farm-Lover99.png"
              alt="Picture of woman with username 'Farm Lover99'"
              width="80"
            />
            <div class="review-text-box">
              <h2 class="review-username">Farm Lover99</h2>
              <p class="review-text">
                "Absolutely adorable! Love the raccoons and the whole trading
                system."
              </p>
            </div>
          </figure>
        </li>
      </ul>
      <div class="swiper-button-next">
        <svg class="review-next-btn" width="16" height="16">
          <use href="../img/sprite.svg#right-arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg class="review-prev-btn" width="16" height="16">
          <use href="../img/sprite.svg#left-arrow"></use>
        </svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
