<div class="swiper mySwiper">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <img
        src="../img/Ellipse 2.png"
        alt="Picture of woman with username 'Trade Master'"
        width="80"
      />
    </li>
    <li class="swiper-slide">
      <img src="../img/Ellipse 4.png" alt width="80" />
    </li>
    <li class="swiper-slide">
      <img src="../img/Ellipse 3.png" alt width="80" />
    </li>
    <li class="swiper-slide">
      <img src="../img/Ellipse 5.png" alt width="80" />
    </li>
    <li class="swiper-slide">
      <img src="../img/Ellipse 1.png" alt width="80" />
    </li>
  </ul>
  <div class="swiper-button-next">
    <svg class="review-next-btn" width="16" height="16">
      <use href="../img/sprite.svg#left-arrow"></use>
    </svg>
  </div>
  <div class="swiper-button-prev">
    <svg class="review-prev-btn" width="16" height="16">
      <use href="../img/sprite.svg#right-arrow"></use>
    </svg>
  </div>
  <div class="swiper-pagination"></div>
</div>
