.cover-text-container {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.cover-titel {
  font-weight: 700;
  font-size: 20px;
}

.cover-titel span:nth-child(1) {
  color: var(--blue);
}

.cover-titel span:nth-child(2) {
  color: var(--pink);
}

.cover-titel span:nth-child(3) {
  color: var(--yelow);
}

.cover-img-conteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.cover-img {
  display: block;
  width: 272px;
  height: auto;
  filter: drop-shadow(0 -5px 10px rgba(0, 255, 0, 0.7));
}
.cover-google {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  padding: 8px;
  border: 2px solid var(--white);
  border-radius: 8px;
}
.google-button:focus,
.google-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.google-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.cover-google-icon {
  width: 16px;
  height: 17px;
  margin-right: 8px;
}

.cover-link {
  font-family: var(--second-family);
  font-size: 20px;
}
