.container.footer {
  padding: 24px;
  @include media(desktop) {
    padding: 48px;
  }
  .footer-nav {
    margin-bottom: 16px;
    .footer-list-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .footer-links-item {
        .footer-links {
          font-weight: 700;
          font-size: 14px;
          text-align: center;
          color: var(--white);
          transition: color 250ms linear;
          &:hover,
          &:focus {
            outline: transparent;
            color: var(--yelow);
          }
          &:active {
            color: var(--orange);
          }
          @include media(desktop) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .footer-rights {
    font-size: 14px;
    text-align: center;
  }
}
