.container.gallery-container {
  position: relative;
  padding: 0px 31px 37px 31px;

  .gallery-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--orange);
    margin-bottom: 16px;
  }

  .gallery-swiper {
    .swiper-pagination.gallery {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 10;
      .swiper-pagination-bullet:not(:last-child) {
        margin-right: 4px;
      }
      .swiper-pagination-bullet {
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: var(--white);
        border-radius: 100%;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--green);
        opacity: 1;
      }
    }
  }
}
