.header-back {
  padding-top: 25px;
  .back-home-btn {
    color: var(--green);
    display: flex;
    align-items: center;
    font-weight: 700;

    .back-home-arrow {
      .back-icon {
        display: block;
        fill: var(--green);
      }
    }
    .back-home-btn-text {
      display: block;

      &:hover,
      &:focus {
        text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
      }
    }
  }
}

.privacy-section {
  padding-bottom: 16px;
  .privacy-policy-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
  }
  .privacy-info-block {
    font-size: 14px;
    .privacy-info-text-before-list {
      margin-bottom: 8px;
    }
    .privacy-info-text {
      margin-bottom: 16px;
    }
    .privacy-info-list {
      margin-bottom: 16px;
    }
  }
  .privacy-policy-text {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .privacy-policy-subtitle {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .privacy-tpa-box {
    font-size: 14px;
    .privacy-tpa-text {
      margin-bottom: 8px;
    }
    .privacy-tpa-list {
      margin-bottom: 16px;
    }
  }

  .privacy-oo-rights-box {
    font-size: 14px;
    .privacy-oo-rights-text {
      margin-bottom: 8px;
      &:nth-last-child(n) {
        margin-bottom: 16px;
      }
    }
    .privacy-policy-drp-subtitle {
      margin-bottom: 8px;
    }
  }

  .privacy-children-box {
    font-size: 14px;
    .privacy-children-text {
      margin-bottom: 8px;
      &:nth-last-child(n) {
        margin-bottom: 16px;
      }
    }
  }

  .privacy-security-box {
    font-size: 14px;
    .privacy-security-text {
      margin-bottom: 16px;
    }
  }

  .privacy-consent-box {
    font-size: 14px;
    .privacy-consent-text {
      margin-bottom: 16px;
    }
  }

  .privacy-changes-box {
    font-size: 14px;
    .privacy-changes-text {
      margin-bottom: 16px;
    }
    .privacy-changes-date-text {
      padding-right: 30px;
      margin-bottom: 16px;
    }
  }
  .privacy-info-list,
  .privacy-tpa-list {
    font-size: 14px;
    padding-left: 20px;
    list-style-type: disc;
  }
  .privacy-tpa-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .privacy-policy-drp-subtitle {
    font-weight: normal;
  }
}

.footer-container {
  padding: 24px 0px;
}
