.container.review-container {
  position: relative;
  letter-spacing: 0;
  padding: 0px 20px;
  @include media(desktop) {
    padding: 0px 142px;
  }
  .review-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--green);
    @include media(desktop) {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 48px;
    }
  }
  .review-swiper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    @include media(desktop) {
      padding: 0px;
      overflow: visible;
    }
    .swiper-wrapper.review-wrapper {
      transition: transform 300ms ease-out;
      @include media(desktop) {
        display: flex;
        width: 100%;
        gap: 100px 71px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: none;
      }
      .swiper-slide {
        color: var(--green);
        padding: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(desktop) {
          padding: 0px;
        }

        .review-img-box {
          padding: 9px 0px;
          margin-right: 8px;
          img {
            max-width: none;
          }
          @include media(desktop) {
            margin-right: 24px;
          }
        }
        .review-username {
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .review-text {
          font-weight: 400;
          font-size: 16px;
          color: var(--white);
        }
        @include media(desktop) {
          max-width: 258px;
          &.spec-slide {
            transform: translateY(80px);
          }
        }
      }
    }
    .swiper-pagination {
      transform: translateY(10px);
      .swiper-pagination-bullet {
        border-radius: 100%;
        width: 5px;
        height: 5px;
        background-color: var(--white);
        opacity: 1;
        &-active {
          background-color: var(--green);
          width: 5px;
          height: 5px;
        }
      }
      @include media(desktop) {
        display: none;
      }
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after {
    content: none;
  }
  .review-custom-prev,
  .review-custom-next {
    cursor: pointer;
    position: absolute;
    fill: var(--green);
    height: 16px;
    width: 16px;
    &:active {
      transform: scale(1.05);
    }
    @include media(desktop) {
      display: none;
    }
  }
  .review-custom-prev {
    top: 60%;
    left: 5px;
  }
  .review-custom-next {
    top: 60%;
    right: 5px;
  }
}

// .container.review-container {
//   position: relative;
//   letter-spacing: 0;
//   padding: 0px 20px;
//   @include media(desktop) {
//     padding: 0px 142px;
//   }
//   .review-title {
//     font-weight: 700;
//     font-size: 20px;
//     text-align: center;
//     color: var(--green);
//     @include media(desktop) {
//       font-family: var(--second-family);
//       font-weight: 400;
//       font-size: 24px;
//       text-transform: uppercase;
//       margin-bottom: 48px;
//     }
//   }
//   .review-swiper {
//     // padding: 0px 24px 18px 24px;
//     padding-bottom: 18px;
//     position: relative;
//     overflow: hidden;
//     @include media(desktop) {
//       padding: 0px;
//       overflow: visible;
//     }
//     .swiper-wrapper.review-wrapper {
//       transition: transform 300ms ease-out;
//       @include media(desktop) {
//         display: flex;
//         // width: 100%;
//         gap: 100px 71px;
//         flex-direction: row;
//         align-items: center;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         transition: none;
//       }
//       .swiper-slide {
//         padding: 10px 0px;
//         color: var(--green);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         @include media(desktop) {
//           padding: 0px;
//         }

//         .review-img-box {
//           padding: 9px 0px;
//           margin-right: 8px;
//           // img {
//           //   max-width: none;
//           // }
//           @include media(desktop) {
//             margin-right: 24px;
//           }
//         }
//         .review-text-box {
//           .review-username {
//             font-weight: 700;
//             font-size: 16px;
//             margin-bottom: 10px;
//           }
//           .review-text {
//             font-weight: 400;
//             font-size: 16px;
//             color: var(--white);
//           }
//           @include media(desktop) {
//             max-width: 258px;
//             &.spec-slide {
//               transform: translateY(80px);
//             }
//           }
//         }
//       }
//     }
//     .swiper-pagination {
//       transform: translateY(10px);
//       .swiper-pagination-bullet {
//         border-radius: 100%;
//         width: 5px;
//         height: 5px;
//         background-color: var(--white);
//         opacity: 1;
//         &-active {
//           background-color: var(--green);
//           width: 5px;
//           height: 5px;
//         }
//       }
//       @include media(desktop) {
//         display: none;
//       }
//     }
//   }
//   .swiper-button-next:after,
//   .swiper-button-prev:after,
//   .swiper-rtl .swiper-button-prev:after {
//     content: none;
//   }
//   .review-custom-prev,
//   .review-custom-next {
//     cursor: pointer;
//     position: absolute;
//     fill: var(--green);
//     height: 16px;
//     width: 16px;
//     @include media(desktop) {
//       display: none;
//     }
//   }
//   .review-custom-prev {
//     top: 55%;
//     left: 5px;
//   }
//   .review-custom-next {
//     top: 55%;
//     right: 5px;
//   }
// }
